#notif {
    position: absolute;
    top: 25px;
    right: 15px  ;
}


.imgValid {
    width: 50px;
    height: auto;
    max-width: 100%;

}

.cardItem {
    text-align: center;
}

.imgDansCard {
    margin-left: auto;
    margin-right: auto;
    width: 70rem;
    height: 45rem;
}

.form-reservation {
    display: inline-block;
}

.form-modifItem {
    margin-left: auto;
    margin-right: auto;
}

body {
    color:black;
    background-color:white;
    background-image:url(../images/fond.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.titre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

.bordure {
    background-color: rgba(0,0,0, .3);
}

.text-center {
    text-align: center;
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.text-center1 {
    text-align: center;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

.jumbotron {
    background:rgba(0,0,0,0.2);
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.btnDeco {
    position: fixed;
    z-index: 8;
    left:0;
    top: 0;
}